{{outlet}}

<button {{action "getUserMedia"}}>Request camera</button>

{{#if this.camera}}
  <video {{prop srcObject=this.camera}}></video>
{{/if}}

{{#if this.error}}
  An error occurred: {{this.error}}
{{/if}}