<div class="flex flex-col w-screen h-screen">
  <nav>
    <LinkTo @route="scan" @activeClass="font-bold">Scan</LinkTo>
    <LinkTo @route="poles" @activeClass="font-bold">Poles</LinkTo>
    <LinkTo @route="sync" @activeClass="font-bold">Sync</LinkTo>
  </nav>
  <div class="flex-grow h-full">
    {{outlet}}
  </div>
</div>
