{{outlet}}

<table>
  <thead>
    <tr>
      <th>barcode</th>
    </tr>
  </thead>
  <tbody>
    {{#each this.model as |pole|}}
      <tr>
        <td>
          {{pole.barcode}}
          {{#each pole.photos as |photo|}}
            <ImageAttachment @model={{pole}} @attachment={{photo}} />
          {{/each}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
