{{#if this.barcode}}
  <h1>{{this.barcode}}</h1>
{{/if}}

{{#if this.error}}
  An error occurred: {{this.error}}
{{/if}}

<BarcodeReader @onBarcodeRead={{action (mut this.barcode)}} @onError={{action (mut this.error)}} />